	article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


	#ToDo
	{
		text-align: center;
		width:100%;
		height:80px;
		top:0;
		left:0;
		z-index: 5;
		color: #d5f4e6;
		background-color: #004883;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}


	#page1{
		background-color:#d5f4e6;
		color:#555;
		font-family:Arial, Helvetica, sans-serif;
		font-size:16px;
		margin:10px;
	}

	

	}
	h3
	{
		text-decoration:underline;
	}



	input {
	  width: 90%;
	  height: 40px;
	  float: left;
	  color: #004483;
	  font-size: 15px;
	  font-weight: 400;
	  text-indent: 18px;
	  padding: 0 60px 0 0;
	  border-radius: 25px 25px 25px 25px;
	  border: 0px;
	  box-shadow: none;
	  outline: none;

	  -webkit-appearance: none;
	  -moz-appearance: none;
	}
	#finish1{

		text-decoration: line-through;
		color: #800000
	}

	.timing{

	  width: 90%;
	  height: 40px;
	  float right;
	  color: #004483;
	  background-color: #ffeead;
	  font-size: 15px;
	  font-weight: 400;
	  text-indent: 18px;
	  padding: 0 60px 0 0;
	  border-radius: 25px 25px 25px 25px;
	  border: 0px;
	  box-shadow: none;
	  outline: none;

	  -webkit-appearance: none;
	  -moz-appearance: none;

	}

	.edit{
	  width: 60px;
	  height: 40px;

	  position:absolute;
	  top:120px;
	  right:65px;
	  z-index:2;

	  border-radius: 25px;
	  background: #004483;
	  border: 0px;
	  box-shadow: none;
	  outline: none;
	  cursor: pointer;

	  -webkit-appearance: none;
	  -moz-appearance: none;
	}

	

	.container {
	  width: 90%;
	  float: left;
	  padding: 15px;
	  display: block;
	}

	ul.list {
	  width: 96%;
	  display: inline-block;
	  float: left;
	}

	ul.list li {
	  width: 80%;
	  min-height: 15px;
	  float: left;
	  font-size: 14px;
	  font-weight: 500;
	  color: #004483;
	  line-height: 22px;
	  overflow:hidden;
	  background:  #fff;
	  display:block;
	  border-radius: 25px;
	  position: relative;
	  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
	  margin: 0 0 10px 0;
	  padding: 14px 100px 14px 14px;
	  word-break: break-word;
	}



	
	ul.list li:last-of-type {
	  margin: 0;
	  overflow: hidden;
	} 


	.done{
	  width: 30px;
	  height: 30px;
	  position:absolute;
	  top: 40px;
	  right: 60px;
	  z-index:6;
	  overflow:auto;
	  border-radius: 25px;
	  background: #4dff88;
	  border: 0px;
	  box-shadow: none;
	  outline: none;
	  display: block;
	  cursor: pointer;
	}

	.deleted{
	  width: 30px;
	  height: 30px;
	  position:absolute;
	  top: 40px;
	  right: 20px;
	  z-index:6;
	  overflow: auto;
	  border-radius: 25px;
	  background: #ff4d4d;
	  border: 0px;
	  box-shadow: none;
	  outline: none;
	  cursor: pointer;
	}


	
	
	.deleted:hover{

		background:#800000;

	}

	.done:hover{

		background:#008000		

	}
	
